	  	.circle {
	width: 200px;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
	vertical-align: top;

	strong {
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 45px;
		font-size: 43px;
	}
}